.MenuDocBox {
 position: absolute;
 top:0;
 left:0;
 right:0;
 bottom:0;
 margin: auto;
 height: 100px;
 width: 275px;
 }

 .lblMenuDocBox {

 	font-family: Tahoma;
    font-size: 11px;
    font-weight: bold;
    color: #000000;
 	
 }

.LetraPrincipal{
	font-family: 'Oswald', sans-serif;
     
}
.LetraBlanca{
     COLOR: #F7F7F7;
}

.LetraRosa{
     COLOR: #086faa;
}

/*div #pruebas_espacio {
    margin:0 auto;

}*/


